/* Responsive styles for screens below 600px */
@media (max-width: 600px) {
    .MuiTypography-body2 {
      font-size: 14px;
    }
  
    .MuiListItem-root {
      padding: 8px;
    }
  }
  
  /* Responsive styles for screens between 600px and 960px */
  @media (min-width: 600px) and (max-width: 960px) {
    .MuiTypography-body2 {
      font-size: 16px;
    }
  
    .flex-container {
      flex-direction: column;
      align-items: center;
    }
  }
  
  /* Responsive styles for screens above 960px */
  @media (min-width: 960px) {
    /* Adjust the background image position for better visibility on larger screens */
    .MuiPaper-root {
      background-position: 50% 50%;
    }
  }
  