.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px; /* Adjust the maximum width as needed */
    text-align: center;
    padding: 20px;
  }
  
  .img {
    max-width: 100%;
  }
  
  .info {
    margin-top: 20px;
  }
  
  .price {
    margin-top: 20px;
    font-weight: bold;
  }
  
  .actions {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .action-button {
    margin: 10px;
    color: #ff8989;
  }
  
  @media (min-width: 768px) {
    /* Adjust styles for screens with a minimum width of 768px (e.g., tablets) */
    .details {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  
    .img {
      max-width: 50%;
    }
  
    .info {
      text-align: left;
      margin-top: 0;
      flex: 1;
      padding-left: 20px;
    }
  
    .actions {
      flex-direction: row;
      margin-top: 0;
      justify-content: flex-start;
    }
  
    .action-button {
      margin-right: 10px;
    }
  }
  